{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "standard"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "semi": ["error", "never"],
		"quotes": ["warn", "single"],
		"prefer-const": "warn",
    "no-var": "warn",
    "no-empty": "error",
    "max-len": ["warn", { "code": 120 }],
    "no-sparse-arrays": "error",
    "class-methods-use-this": "warn",
    "eqeqeq": "error",
    "no-empty-function": "error",
    "require-await": "error",
    "no-unused-vars": "error",
    "eol-last": ["error", "always"],
    "no-lonely-if": "error",
    "space-before-blocks": "error",
    "prefer-template": "error",
    "template-curly-spacing": ["error", "never"]
  }
}